[Unit]
Description=mrefd
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mrefd XXX/YYY.cfg
Restart=always

[Install]
WantedBy=multi-user.target
