<?php
/*
Possible values for IPModus

HideIP
ShowFullIP
ShowLast1ByteOfIP
ShowLast2ByteOfIP
ShowLast3ByteOfIP

*/

$Service     = array();
$CallHome    = array();
$PageOptions = array();

$PageOptions['ContactEmail']                         = 'your_email';                            // Support E-Mail address
$PageOptions['IPV4']                                 = 'refl_ipv4_address';                     // Reflector IPV4 Address
$PageOptions['IPV6']                                 = 'refl_ipv6_address';                     // Reflector IPV6 Address - if none use NONE
$PageOptions['Homepage']                             = 'https://m17project.org';                // Link to homepage for logo
$PageOptions['Logo']                                 = 'm17_logo.svg';                          // Logo image - SVG preferred - place in /images/

$PageOptions['LocalModification']                    = '';                                      // If you modify the dashboard code, you can say so here
                                                                                                // with your mod version number, otherwise leave blank

$CallHome['GUID']                                    = '';                                      // Health Check GUID

$PageOptions['PageRefreshActive']                    = true;                               // Activate automatic refresh
$PageOptions['PageRefreshDelay']                     = '10000';                            // Page refresh time in miliseconds


$PageOptions['LinksPage'] = array();
$PageOptions['LinksPage']['LimitTo']                 = 99;                                 // Number of Links to show
$PageOptions['LinksPage']['IPModus']                 = 'ShowLast2ByteOfIP';                // See possible options above
$PageOptions['LinksPage']['MasqueradeCharacter']     = '*';                                // Character used for  masquerade


$PageOptions['PeerPage'] = array();
$PageOptions['PeerPage']['LimitTo']                  = 99;                                 // Number of peers to show
$PageOptions['PeerPage']['IPModus']                  = 'ShowLast2ByteOfIP';                // See possible options above
$PageOptions['PeerPage']['MasqueradeCharacter']      = '*';                                // Character used for  masquerade

$PageOptions['LastHeardPage']['LimitTo']             = 39;                                 // Number of stations to show

$PageOptions['ModuleNames'] = array();                                                     // Module names
$PageOptions['ModuleNames']['A']                     = 'Int.';
$PageOptions['ModuleNames']['B']                     = 'Regional';
$PageOptions['ModuleNames']['C']                     = 'National';
$PageOptions['ModuleNames']['D']                     = '';


$PageOptions['MetaDescription']                      = 'MREFD is an M17 Reflector System for Ham Radio Operators.';  // Meta Tag Values, useful for Search Engines
$PageOptions['MetaKeywords']                         = 'Ham Radio, M17, XReflector, ';                               // Meta Tag Values, useful for Search Engines
$PageOptions['MetaAuthor']                           = 'KC1AWV';                                                     // Meta Tag Values, useful for Search Engines
$PageOptions['MetaRevisit']                          = 'After 30 Days';                                              // Meta Tag Values, useful for Search Engines
$PageOptions['MetaRobots']                           = 'index,follow';                                               // Meta Tag Values, useful for Search Engines

$PageOptions['UserPage']['ShowFilter']               = true;                                                         // Show Filter on Users page

$Service['PIDFile']                                  = '/var/run/mrefd.pid';
$Service['XMLFile']                                  = '/var/log/mrefd.xml';

/*
  include an extra config file for people who dont like to mess with shipped config.inc.php
  this makes updating dashboard from git a little bit easier
*/

if (file_exists("../config.inc.php")) {
  include ("../config.inc.php");
}

?>
